<div id="<%= dom_id task %>">
  <p>
    <strong>Task name:</strong>
    <%= task.task_name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= task.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= task.end_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= task.notes %>
  </p>

</div>
